body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

header {
  background-color: #111827;
  padding: 20px 40px;
  border-bottom: 1px solid #1f2937;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.top-bar input {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #1f2937;
  background-color: #0f172a;
  color: #e5e7eb;
  width: 300px;
}

nav a {
  color: #9ca3af;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

nav a.active,
nav a:hover {
  color: #60a5fa;
}

/* MAIN */

main {
  padding: 40px;
}

.intro h2 {
  margin-bottom: 10px;
  color: #60a5fa;
}

.intro p {
  color: #9ca3af;
}

/* GRID */

.department-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* CARDS */

.department-card {
  background-color: #1f2937;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  border: 1px solid transparent;
}

.department-card:hover {
  border: 1px solid #2563eb;
  transform: translateY(-3px);
}

.department-card h3 {
  margin-top: 0;
  color: #60a5fa;
}

.department-card p {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 15px;
}

.department-card span {
  font-size: 13px;
  color: #2563eb;
  font-weight: bold;
}
